            <div class="float-right">
                <section id="login">
                        <nav>
                            <ul id="menu">
                                <li><a href="~/Account/Register">Регистрация</a></li>
                                <li><a href="~/Account/Login">Выполнить вход</a></li>
                            </ul>
                        </nav>
                </section>
            </div>