@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Контакты";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
 
</hgroup>


<address>
  
        Ильин Антон<br />
        бла бла бла<br />
        <abbr title="Phone">P:</abbr>
        8 888 888 88 88
        <strong>Marketing:</strong> <a href="mailto:Ilinas369@gmail.com">Ilinas369@gmail.com</a><br /><br />

        Шеповалов Александр<br />
        бла бла бла бла<br />
        <abbr title="Phone">P:</abbr>
        8 888 888 88 87
        <strong>Support:</strong>   <a href="mailto:bienik2@yandex.ru">bienik2@yandex.ru</a><br />
   
</address>