@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="page-header">
    <h1>Добро пожаловать на сайт компании OneTech</h1>
    <h2>Получите уникальную возможность изучить язык с#</h2>
</div>

