@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Theory";
}

<div class="page-header">
    <h1>Теория:</h1>
</div>



<ol>
    <h1>
        <li><a href="~/Views/Theory/Theory1">Урок 1</a>Hello, world! </li>
    </h1>



    <h1><li><a href="~/Views/Theory/Theory2">Урок 2</a>Более детальное знакомство</li></h1>



    <h1><li><a href="~/Views/Theory/Theory3">Урок 3</a>Переменные и типы данных</li></h1>


    <h1><li><a href="~/Views/Theory/Theory4">Урок 4</a>Операторы ветвления</li></h1>



    <h1><li><a href="~/Views/Theory/Theory5">Урок 5</a>Циклы</li></h1>
    <h1><li><a href="~/Views/Theory/Theory6">Урок 6</a>Массивы</li></h1>

</ol>